@import './styles/variables.css';
@import "tailwindcss";
@layer base, components, utilities;

/* custom global styles */
html, body, #root {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #2d3748; /* Tailwind's gray-800 */
  line-height: 1.625; /* Tailwind's leading-relaxed */
}

a {
  color: var(--color-brand);
  transition: color 0.2s;
}
a:hover {
  color: var(--color-brand-dark);
}

/* exemplo de classe utilitária extra */
.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--color-brand);
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: var(--color-brand-dark);
}
