@import './styles/variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom global styles */
html, body, #root {
  height: 100%;
  margin: 0;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-800 leading-relaxed;
}

a {
  @apply text-brand hover:text-brand-dark;
}

/* exemplo de classe utilitária extra */
.btn {
  @apply px-4 py-2 bg-brand text-white rounded-lg shadow hover:bg-brand-dark transition;
}
